*~
target
*.pyc
*.pyo
*.log
*.iml
.idea/
.coverage
.cache/
.settings/
.project
.pydevproject
pyunit.credentials.properties
/bin

pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
release.properties
dependency-reduced-pom.xml

/target
/classes
/checkouts
pom.xml.asc
*.jar
*.class
**/.lein-*
/.nrepl-port
.hgignore
.hg/
**/.nrepl-*
**/out
